html {
    height: 100%;
}

body {
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: auto;
    background: repeating-linear-gradient(70deg, lightpink, lightblue);
    background-attachment: fixed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background: #FFF;
    padding: 1em 0;
    text-align: center;
    box-shadow: 5px 5px 10px #999;
}

header img {
    position: relative;
    width: 10%;
    max-width: 100px;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 200%;
}

.search {
    margin-top: 2rem;
}

.search input[type=text] {
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0.3rem 1rem;
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    width: 75%;
}

.search button {
    display: block;
    box-sizing: border-box;
    width: 75%;
    margin: 0.5rem auto 0 auto;
    padding: 0.3rem 1rem;
    font-size: 1.4rem;
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.repo-view {
    margin: 1rem 0;
    box-sizing: border-box;
}

.repo {
    position: relative;
    box-sizing: border-box;
    background: #FFF;
    margin: 1rem auto; 
    width: 75%;
    border-radius: 10px;
    padding: 0.5rem;
    min-height: 8rem;
    max-height: 12rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.repo .info {
    position: relative;
    width: 65%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    padding: 0 0 0 0.5rem;
}

.repo h2 {
    margin: 0; 
}

.stars-count {
    box-sizing: border-box;
    height: 100%;
    width: 35%;
    text-align: center;
    color: #999;
    min-height: inherit;
    max-height: inherit;
}

.stars-count span {
    display: block;
}
.stars-count span:first-child {
    font-size: 3.5rem;
    padding: 0 1rem;
}

.stars-count span:nth-child(2) {
    font-size: initial;
}

.repo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}