html {
    height: 100%;
}

body {
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background: linear-gradient(70deg, lightpink, lightblue);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background: #FFF;
    padding: 1em 0;
    text-align: center;
    box-shadow: 5px 5px 10px #999;
}

header img {
    position: relative;
    height: 10%;
    width: 10%;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 200%;
}

.search {
    margin-top: 2rem;
}

.search input[type=text] {
    display: block;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    padding: 0.3rem 1rem;
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    width: 75%;
}

.search button {
    display: block;
    box-sizing: border-box;
    width: 75%;
    margin: 0.5rem auto 0 auto;
    padding: 0.3rem 1rem;
    font-size: 1.4rem;
    font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.repo-view {
    margin: 1rem 0;
    position: relative;
    box-sizing: border-box;
}

.repo {
    position: relative;
    box-sizing: border-box;
    background: #FFF;
    margin: 0 auto; 
    width: 75%;
    border-radius: 10px;
    padding: 0 0.5rem;
    height: 8rem;
}

.repo h2 {
    margin: 0; 
    padding: 0;
    float: left;
    width: 75%;
}

.commit-count {
    width: 25%;
    height: 100%;
    float: right;
}

.commit-count span {
    display: block;
    text-align: center;
    color: #999;
}

.commit-count span:first-child {
    font-size: 4rem;
}

.commit-count span:nth-child(2) {
    font-size: initial;
    height: 30%;
}

.repo ul {
    list-style: none;
    padding: 0;
    margin-left: 0.5rem;
    width: 75%;
}